*
{
    padding:0;
    margin: 0;
}
.form input
{
    width: 20%;
    height: 20px;
}
.form1 img{
    width: 400px;
    height: 400px;
}
.conainer
{
    position: relative;
    width: 100%;
    background-color: blue;
    height: 80vh;
}
.section1
{
    width: 100%;
    height: 50vh;
}
table, th, td {
    border:1px solid black;

  }
  table
  {
    width: 60px;
  }
  .section1 
  {
    text-align: center;
    margin-left: 220px;
    margin-top: 200px;
  }
  .form
  {
    padding-top: 120px;
    padding-left: 210px;
  }
  .form1

  {position: absolute;
left: 65%;
bottom: 20%;
}